<section id="weekly-forecast" class="px-6 mb-4 md:px-0 md:flex-1 md:mt-6">
  <ion-card class="!m-0 md:h-full">
    <ion-card-content class="!p-5 md:!p-6">
      <div class="flex items-center gap-2 mb-6 justify-between">
        <div class="flex items-center gap-2">
          <span class="material-symbols-outlined text-primary text-[24px]">
            calendar_month
          </span>
          <h3 class="text-white/90 text-sm font-bold uppercase tracking-widest">
            {{ getTitle() }}
          </h3>
        </div>
      </div>

      <!-- Container for forecast lists -->
      <div class="space-y-5 animate-fade-in">
        <div
          *ngFor="let item of forecastData"
          class="flex items-center justify-between py-1.5"
        >
          <div class="flex flex-col w-24 md:w-28 justify-center min-w-0">
            <span class="text-white font-bold text-sm leading-tight truncate">
              {{ item.day }}
            </span>
            <span
              class="text-white/50 text-[10px] font-bold uppercase tracking-wide leading-tight mt-0.5 truncate"
            >
              {{ item.text }}
            </span>
          </div>

          <span class="material-symbols-outlined text-primary ml-2 text-[28px]">
            {{ item.icon }}
          </span>

          <div class="flex items-center gap-3 ml-auto">
            <span class="text-white/40 text-sm font-medium w-7 text-right">
              {{ item.min }}°
            </span>
            <div
              class="w-20 md:w-24 h-1.5 bg-border-dark rounded-full overflow-hidden relative"
            >
              <div
                class="absolute h-full bg-gradient-to-r rounded-full"
                [ngClass]="item.color"
                [ngStyle]="{
                  left: item.start,
                  right: item.end,
                }"
              ></div>
            </div>
            <span class="text-white text-sm font-bold w-7 text-right">
              {{ item.max }}°
            </span>
          </div>
        </div>
      </div>
    </ion-card-content>
  </ion-card>
</section>
